<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/web.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title"></h1>
                    <p *ngIf="active" class="line-1 anim-typewriter" style="color: white;">{{data}}</p>
                    <p *ngIf="active==false" class="line-1 anim-delete" style="color: white;">{{data}}</p>
                </div>
                <h2 class="presentation-subtitle text-center" id="opensources">Automation for every need</h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
    </div>

    <div class="section section-dark section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Stupify IoT Core</h2><br />
                    <p class="description">
                        An OpenSource IoT platform for all the IoT Devices, IoT analytics platform service that allows
                        you to aggregate, visualize, and analyze live data streams in the cloud. You can send data to
                        Cloud from your devices, create instant visualization of live data, and send alerts.
                    </p><br />
                    <a class="btn btn-outline-danger btn-round" [routerLink]="['/opensource']">Learn More</a>
                </div>

                <div class="col-lg-6 col-md-12" id="product">
                    <div class="icons-container pull-right">
                        <img src="https://img.icons8.com/officel/200/000000/cloud.png">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="https://img.icons8.com/color/200/000000/open-source--v1.png">
                    </div>
                </div>
            </div>
            <br><br id="service">
            <br><br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="icons-container pull-left">
                        <img src="../../assets/img/AWS-icon.png" width="200" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Products</h2><br />
                    <p class="description">
                        An OpenSource IoT platform for all the IoT Devices, IoT analytics platform service that allows
                        you to aggregate, visualize, and analyze live data streams in the cloud. You can send data to
                        Cloud from your devices, create instant visualization of live data, and send alerts.
                    </p><br />
                    <a class="btn btn-outline-danger btn-round" [routerLink]="['/products']">Learn more</a>
                </div>
            </div>
            <br><br>
            <br><br>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Services</h2><br />
                    <p class="description">
                        An OpenSource IoT platform for all the IoT Devices, IoT analytics platform service that allows
                        you to aggregate, visualize, and analyze live data streams in the cloud. You can send data to
                        Cloud from your devices, create instant visualization of live data, and send alerts.
                    </p><br />
                    <a class="btn btn-outline-danger btn-round" [routerLink]="['/services']">Learn more</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="icons-container pull-right">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="https://img.icons8.com/color/200/000000/services.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark" id="about">
            <div class="container">
                <!-- <app-carousel></app-carousel> -->
                <!-- <app-landing></app-landing> -->
                <div class="row">
                    <div class="card" style="width: 18rem; border-radius: 10%;">
                        <img class="card-img-top" src="https://img.icons8.com/color/200/000000/open-source--v1.png" alt="Card image cap" style="border-radius: 10%;">

                        <!-- <img class="card-img-top" src="../../assets/img/slide-1.png" alt="Card image cap" style="border-radius: 10%;"> -->
                        <div class="card-body">
                            <h5 class="card-title">Opensource</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary">Learn more</a>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="card" style="width: 18rem; border-radius: 10%;">
                        <img class="card-img-top" src="../../assets/img/AWS-icon.png" alt="Card image cap" style="border-radius: 10%;">
                        <div class="card-body">
                            <h5 class="card-title">Products</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary">Learn more</a>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="card" style="width: 18rem;border-radius: 10%;">
                        <img class="card-img-top" src="https://img.icons8.com/color/200/000000/services.png" alt="Card image cap" style="border-radius: 10%;background-color:transparent;">

                        <!-- <img class="card-img-top" src="../../assets/img/antoine-barres.jpg" alt="Card image cap" style="border-radius: 10%;"> -->
                        <div class="card-body">
                            <h5 class="card-title">Services</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Thank you for supporting us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-google-plus"></i> Google
                </a>
                <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="#" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i> Star
                </a>
            </div>
        </div>
    </div>
</div>